@use './variables' as v;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$font-sans;
  color: v.$color-text;
  background: v.$color-bg;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
